<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>应用监控</title>
  <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link type="text/css" href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet">
  <meta name="robots" content="noindex,follow" />
</head>

<body>
  <div class="container">
    <div class="login">
  	   
      <h1>应用监控</h1>
      <span>{{data01}}</span><br>
      <span>{{data02}}</span><br>
      <span>{{data03}}</span><br>
      <span>{{data04}}</span><br>
      <span>{{data05}}</span><br>
    </div>

    <div class="login-help">
    </div>
  </div>
  <div style="text-align:center;clear:both">
  </div>
</body>

</html>
