{% extends "base.html" %}

{% block title %}数据修改界面{% endblock %}

{% block page_content %}
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>数据修改界面</title>
<link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', filename='css/style3.css') }}" rel="stylesheet">
<meta name="robots" content="noindex,follow" />
</head>
<body>
  <div class="container">
    <div class="login">
      
      <form method="post" action="/updateuserbyid/">
        {% for i in data %}
        <p><strong>账号</strong><input type="text" name="username" value="{{ i[0] }}"></p>
        <p><strong>密码</strong><input type="text" name="password" value="{{ i[1] }}" ></p>
        <p><input type="hidden" name="id" value="{{ i[2] }}"></p>
        {% endfor %}
        <p class="submit"><input type="submit" name="commit" value="修改"></p>
      </form>

    </div>

    <div class="login-help">
    </div>
  </div>
<div style="text-align:center;clear:both">
</div>
</body>
</html>
{% endblock %}
